#container{
    width:1280px;
    margin: 0 auto;
    position: relative;
}
.top{
    margin: 13px 0 10px 0;
}
.top a {
    font-size: 12px;
}
.top p span:last-child{
    color: #020202;
    font-family: "Arial";
}
.txt_banner{
    padding-top: 18px;
    padding-bottom: 88px;
}
.left {
    float: left;
    position: relative;
}
.left div.btn{
    position: absolute;
    width: 420px;
    height: 40px;
    bottom: 1.5%;
    left: 4%;
    z-index: 10;
}
.right{
    float: right;
}
/*banner*/
#banner{
    border:1px solid #eeeeee;
    width: 780px;
    margin-left: 20px;
    position: relative;
}
#banner div.title_01{
    padding: 11px 22px 0;
    font-family: "Arial";
}
#banner div.title_01 p:first-child{
    font-size: 20px;
    color: #323232;
}
#banner div.title_01 p:last-child{
    font-size: 20px;
    padding-bottom: 7px;
    color: #323232;
}
#banner div.big_pic{
    /*margin: 0 22px 40px;*/
    margin: 0 24px 40px;        /*�޸�*/
    overflow: hidden;
}
#banner div.big_pic ul{
    width:5864px;
}
#banner div.big_pic ul li{
    float: left;
    background: #f6f6f6;
}
/*新增*/
#banner div.big_pic ul li img{
    display: block;
}
#banner div.big_pic div.prev{
    position: absolute;
    top: 270px;
    left: 30px;
    cursor: pointer;
}
#banner div.big_pic div.next{
    position: absolute;
    top: 270px;
    right: 30px;
    cursor: pointer;
}
#banner div.small_pic{
    margin: 0 22px 40px;
}
#banner div.weixin{
    border:1px solid #d2d2d2;
    float: left;
}
#banner div.small_pic div.small_pic_banner{
    width:480px;
    float: right;
}
#banner div.small_pic div.small_pic_banner ul li.fir{
    width:103px;
    height:104px;
    float: left;
    outline: 1px solid #ececec;
    margin: 0 0 20px 13px;
    cursor: pointer;
    overflow: hidden;
}
#banner div.small_pic div.small_pic_banner ul li.sec{
    width:103px;
    height:104px;
    float: left;
    outline: 1px solid #ececec;
    margin: 0 0 20px 13px;
    cursor: pointer;
    overflow: hidden;
}
#banner div.small_pic div.small_pic_banner ul li.border{
    border:4px solid #aaaaaa;
    width:97px;
    height: 98px;
}
#banner div.small_pic div.small_pic_banner ul li img {
    /*width:100%;*/
    /*height:100%;*/
    width: 143px;
    height: 106px;
    margin-left: -20px;
    /*position: absolute;
    z-index: -1;*/
}
.left_nav{
    position: absolute;
    top:650px;
    left: 20px;;
    border:1px solid #aaaaaa;
}
.title{
    padding-top: 23px;
    padding-left: 31px;
    padding-bottom: 12px;
}
.left_nav_02, .left_nav_03, .left_nav_04, .left_nav_05,
.left_nav_06, .left_nav_07, .left_nav_08 {
    display: none;
}
.editor {
    width: 780px;
    margin-top: 26px;
    margin-left: 20px;
    position: relative;
}
.editor_nav{
    width:780px;
    height:52px;
    border-bottom:1px solid black;
}
.editor_nav ul li{
    float: left;
}
/*.editor_nav_01 {
    width: 97px;
    height: 52px;
    background: transparent;
    color: #aaaaaa;
    font-size: 12px;
    margin-right: 20px;
    cursor: pointer;
}*/

.editor_nav ul li:first-child{
    border-left:none;
}
.editor_nav_01 {
    width: 97px;
    height: 52px;
    background: transparent;
    color: #aaaaaa;
    font-size: 12px;
    cursor: pointer;
    padding-right: 20px;
    border-left: 1px solid #e3e3e3;
}


.editor_nav_01 p{
    padding-left: 15px;
    /*font-family: "黑体";*/
}
.editor_nav_01 p:first-child{
    padding-top: 6px;
    font-family: "Arial";
}
.editor_nav_02 {
    margin-left: 0;
}
.editor_nav_01:hover {
    color:black;
}
.black:hover{
    color:white;
}
.editor_txt{
    width: 780px;
}
.text_editor{
    margin-top: 33px;
}
#technology, #dimension{
    display: none;
}
.bottom_product_show{
    width:1280px;
    height:690px;
    border-top:1px solid #cccccc;
}
.bottom_product_show_title{
    width: 1280px;
    height:81px;
    font-size: 16px;
}
.bottom_product_show_title p{
    color: #363636;
    /*font-family: "黑体";*/
}
.bottom_product_show_title p:first-child{
    font-family: "Arial";
}
.eng_title{
    padding-top: 23px;
}
.bottom_product_show_pic{
    width: 1200px;
    margin: 0 auto;
}

.bottom_product_show_pic ul li{
    width:124px;
    height:249px;
    float: left;
    margin-left: 67px;
    margin-top: 20px;
    overflow: hidden;
}
.bottom_product_show_pic ul li img{
    height: 201px;
}



.bottom_product_show_pic ul li div p{
    text-align: center;
    font-family: Arial;
}
.bottom_product_show_pic ul li div p.first{
    color: #343434;
}
.bottom_product_show_pic ul li div p:last-child{
    color: #7b7b7b;
}
.black{
    background: black;
    color:white;
}
.editor div.editor_nav div.jiantou_01{
    /*position: absolute;*/
    /*top: 8.8%;*/
    /*left: 1%;*/
    float: left;
    margin-top: -9px;
    margin-left: 5px;
}
.editor div.editor_nav div.jiantou_02{
    float: left;
    margin-top: -9px;
    margin-left: 123px;
    /*position: absolute;*/
    /*top: 5.4%;*/
    /*left: 16%;*/
    display: none;
}
.editor div.editor_nav div.jiantou_03{
    float: left;
    margin-top: -9px;
    margin-left: 240px;
    /*position: absolute;*/
    /*top: 6.6%;*/
    /*left: 31%;*/
    display: none;
}


.none{
    display: none;
}